<div class="container-fluid bg-light mt-auto">
    <div class="row justify-content-center align-items-center py-4">
        <div class="col-6 col-lg-3 text-center">
            {% if english %}
                <a href="https://challenge.saarland/impressum" target="_blank" class="text-muted">Imprint</a>
            {% else %}
                <a href="https://challenge.saarland/impressum" target="_blank" class="text-muted">Impressum</a>
            {% endif %}
        </div>
        <div class="col-6 col-lg-3 text-center">
            {% if english %}
                <a href="https://challenge.saarland/impressum" class="text-muted">Privacy Policy</a>
            {% else %}
                <a href="https://challenge.saarland/static/Datenschutzerkl%C3%A4rung.pdf" class="text-muted">Datenschutzerklärung</a>
            {% endif %}
        </div>
    </div>
</div>
