{% load static %}
<nav class="navbar navbar-light navbar-expand-md bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'img/logo.svg' %}" width="100" height="60" class="d-inline-block align-top"
             alt="CISPA - Helmholtz Center for Information Security">
        <img src="{% static 'img/logo-cyseclab.png' %}" height="60" class="ml-4 d-inline-block align-top"
             alt="CysecLab Schuelerlabor" style="padding-bottom: 15px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

        </ul>
    </div>
</nav>
